<div class="user_order" id="order_details">
  <h1><%= checkout_header %></h1>

    <%= render partial: "order", collection: @orders %>

  <div id='final-order-total'>

    <%= form_tag charges_all_path do %>
      <article>
        <div id="all_orders_total">
          <h4>Order Total</h4>
          <h4><%= print_price(@total) %></h4>
        </div>
      </article>

      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="Your Retto Order"
              data-amount="<%= @total %>"></script>
    <% end %>
  </div>
</div>
