<div class="user_order">

  <h1><%= checkout_header %></h1>

  <%= render partial: "order", :locals => {order: @order} %>

  <%= form_tag charges_path(@order) do %>
    <article>
      <div id="all_orders_total">
        <h4>Order Total</h4>
        <h4><%= print_price(@order.subtotal) %></h4>
      </div>
    </article>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="Your Platable Order"
            data-amount="<%= @order.subtotal %>"></script>
  <% end %>
</div>
