<div id='current-order'>
  <h1>Current Cart</h1>
  <% if @orders.count == 0 %>
    <h3>Your Order is empty.</h3>
  <% end %>
  
  <div class="user_order" id="order_details" >
    <% @orders.each do |order| %>

      <div class='checkout-container'> 
        <div id="order_<%= order.id %>">
          <h2><%= link_to order.restaurant.name, order.restaurant %></h2>
          <table class="table">
            <thead>
              <tr>
                <th>Dish</th>
                <th></th>
                <th>Price</th>
                <th></th>
                <th>Quantity</th>
                <th></th>
              </tr>
            </thead>

                
            <tbody>
              <tr>

            <% order.items.each do |item| %>
              <div class='items' id="item_<%= item.id %>">
                <td>
                  <span class='item-title'><%= link_to item.title, item_path(item) %></span>
                </td>
                <td></td>

                <td><%= print_price(item.price) %></td>

                <td></td>
                <td>
                  <%= form_for order_item(order, item) do |f| %>
                  <%= f.number_field :quantity, value: order_item_quantity(order, item) %>
                  <%= f.submit "Update Quantity" %>
                </td>
                <% end %>
                <td>
                  <%= button_to "Remove", order_item_path(order_item(order, item)), {method: 'delete', :class => "btn btn-danger remove-item", id: 'remove_item'} %>
                </td>
          
              </div>

              </tbody>
            <% end %>
            </tr>
          </table>

          <div id='checkout-button'>
            <%= button_to "Checkout", checkout_path(order) %>
          </div>

        </div>
      </div>
    <% end %>
  <% if @orders.count > 1 %>
    <span id="checkout_all">
      <%= button_to "Checkout All", checkout_all_path %>
    </span>
  <% end %>
  </div>
</div>

