<div class="select-menu">
  <%= form_tag("/restaurants/#{@restaurant.id}", method: "get", class:"select-category") do %>
    <% if @category %>
      <%= select_tag "Categories", options_from_collection_for_select(@categories, "id", "name", @category.id), {:class => "btn btn-default dropdown-toggle" }%>
    <% else %>
      <%= select_tag "Categories", options_from_collection_for_select(@categories, "id", "name"), {:class => "btn btn-default dropdown-toggle" }%>
    <% end %>
    <%= submit_tag "Browse by Category", {:class => "btn btn-info"} %>
  <% end %> 
  <%= link_to "View All", restaurant_path(@restaurant), {:class => "btn btn-info view-all"} %>
</div>
<%= render partial: "restaurant", :locals => {restaurant: @restaurant, 
                                             items: @items} %>
