<% cache item do %>
<li id="item_<%= item.id %>" class="item">
  <div class="item-wrapper">
      <%= image_tag "spoon_bread1.jpg", {:class => "item-show-image"} %><br/>
    <div class="item-details">
      <a href="<%= item_path item.id %>" class="title"><strong><%= item.title %></strong></a>
      <p> <%= item.description %></p>
      <ul class="categories">
        <li class="glyphicon glyphicon-tag category"></li>
        <% item.categories.each do |category| %>
          <li class="category"><%= link_to category.name, restaurant_path(item.restaurant, Categories: category.id) %></li>
        <% end %>
      </ul>
      <div class="price_and_button">
        <p><%=print_price(item.price) %></p>
        <%= button_to "Add to Order", add_item_path(item.id), {:class => "btn btn-success" } %>
      </div>
    </div>
  </div>
</li>
<% end %>
