<div class='checkout-options'>

  <div id='user-checkout' class="login-form" style='float:left'>
    <div class="form-container">
      <h2>Login to Checkout</h2>
      <%= render 'login' %>
    </div>
  </div>

  <div id="guest-checkout">
    <div class="form-container">
      <h2>Guest Checkout</h2>

      <%= form_tag submit_guest_path do %>
        <%= label_tag :email %>
        <%= email_field_tag :email %>

        <%= submit_tag "Continue as Guest", {:class => "btn btn-success", :id => 'guest-button'} %>
      <% end %>
    </div>
  </div>

</div>
